html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #004f86;
  text-align: center;
}

#Name {
  color: white;
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
}

.texto {
    color: white;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 20px;
  text-align: center;
}

.container-grid > div {
  display: flex;
  flex-direction: column; /* coloca os itens em coluna */
  align-items: center;    /* centraliza horizontalmente */
  gap: 10px;              /* espaço entre imagem e botão */
  border:solid 8px rgb(48, 148, 241);
  background:#fff;
  border-radius: 30px;
}
.comprar {
  width: 155px;
  height: 40px;
  font-weight: bold;
  text-decoration: none;
  background: lab(38.83% 78.18 -84.9);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid lab(38.83% 78.18 -84.9);
  transition: all .35s;
  cursor: pointer;
}

.comprar:hover {
  background: lab(38.83% 78.18 -84.9)6;
  color: lab(38.83% 78.18 -84.9);
  text-align: center;
}

