.container-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 20px;
  text-align: center;
}

.container-grid > div {
  display: flex;
  flex-direction: column; /* coloca os itens em coluna */
  align-items: center;    /* centraliza horizontalmente */
  gap: 10px;              /* espaço entre imagem e botão */
}

.botao-empresas {
  width: 155px;
  height: 40px;
  font-weight: bold;
  text-decoration: none;
  background: lab(38.83% 78.18 -84.9);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid lab(38.83% 78.18 -84.9);
  transition: all .35s;
  cursor: pointer;
}

.botao-empresas:hover {
  background: lab(38.83% 78.18 -84.9)6;
  color: lab(38.83% 78.18 -84.9);
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #004f86;
  text-align: center;
}


#tp {
  color: white;
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
}

#hi {
  color: white;
  font-size: 25px;
  font-family: 'Courier New', Times, serif;
}

h4 { 
  color:#000000
}

footer {
  color: #fff;
}

.Empresa {
  border:solid 8px rgb(48, 148, 241);
  background:#fff;
border-radius: 30px;
}

nav {
  display: flex;
  justify-content: center;
  margin: 10px;
  
}

#menu {
list-style: none;
display: flex;
flex-direction: row;
gap: 10px;
background-color: #8c10a5;
border-radius: 7px;
padding: 4px 10px;
margin-top: 15px;
background-position: center;
}
#menu a {
  color: white;
  text-decoration: none; 
  font-weight: bold;
}

#menu a:hover {
  text-decoration: underline;
}

.hero-section {
    height: 300px;
    background-image: url(back\ to\ school.png);
    background-position: center;
}

footer {
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
}



 .container-do-rodapé {
      display: flex;
      justify-content: center; /* Centraliza horizontalmente */
      align-items: center;   /* Centraliza verticalmente */
    }
